.wrapper {
  padding-top: 50px;
  background: #eceff1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
body {
  background: radial-gradient(
    ellipse at center,
    #d5e5e8 32%,
    #d5e5e8 44%,
    #a1e2d4 100%
  );
}
